//  Color Variables 
$primary-color: #4f4f4f;
$primary-color-2: #BDBDBD;
$primary-color-3: #333333;
$color-black: #000;
$accent-color: #f2994a;
$white:#fff;
$footer:#828282;

// Font Variables

$font-heading:'Playfair Display', Georgia, 'Times New Roman', Times, serif;
$font-body: 'Montserrat', Arial, Helvetica, sans-serif;